<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <!-- <add key="nuget" value="https://artifacts.dips.local/api/nuget/InternalNugetTools" /> -->
  </packageSources>
  <disabledPackageSources>
    <!-- <add key="Microsoft and .NET" value="true" /> -->
  </disabledPackageSources>
  <activePackageSource>
    <!-- <add key="InternalNugetTools" value="https://artifacts.dips.local/api/nuget/InternalNugetTools" /> -->
  </activePackageSource>
</configuration>